/* .Container {
    display: flex;
}

.Total {
    border: 2px solid #fc3c3c;
    border-radius: 4px;
    border-style: solid none none;
    border-width: 4px 0px 0px;
    box-shadow: #000000 0px 2px 1px -1px;
    color: #6a5d5d;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
    margin: 10px;
    width: 242px;
    height: 130px;
}

.Recovered {
    border: 2px solid #90ee90;
    border-radius: 4px;
    border-style: solid none none;
    border-width: 4px 0px 0px;
    box-shadow: #000000 0px 2px 1px -1px;
    color: #6a5d5d;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
    margin: 10px;
    width: 242px;
    height: 130px;
}

.Death {
    border: 2px solid #6a5d5d;
    border-radius: 4px;
    border-style: solid none none;
    border-width: 4px 0px 0px;
    box-shadow: #000000 0px 2px 1px -1px;
    color: #6a5d5d;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
    margin: 10px;
    width: 242px;
    height: 130px;
} */