.Container_medican {
    width: 100%;
    height: 220vh;
    background-color: rgb(83, 173, 247);
}

.medican_top {
    margin-top: 55px;
    color: white;
    text-align: center;
}

.medican_phone {
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
}

.medican_phone h1 {
    color: rgb(0, 110, 255);
}

.medican_body {
    width: 60%;
    height: 80%;
    border: solid;
    margin: auto auto;
    border-radius: 5px;
    margin-top: 50px;
    background-color: rgb(247, 230, 199);
}

.medican_body_1 h3 {
    color: violet;
    text-align: center;
    margin-top: 2rem;
}

.medican_slogen {
    border-radius: 10px;
    margin: auto auto;
    width: 30%;
    height: 10vh;
    margin-top: 1rem;
    background-color: rgb(236, 147, 83);
}

.medican_text h2 {
    color: black;
    text-align: center;
    padding-top: 1rem;
}

.item1 {
    border-radius: 4px;
    margin: auto auto;
    width: 40%;
    height: 40vh;
    margin-top: 2rem;
    background-color: rgb(247, 181, 181);
}

.item2 {
    border-radius: 4px;
    margin: auto auto;
    width: 40%;
    height: 40vh;
    margin-top: 2rem;
    background-color: #a5f7a5;
}

.item3 {
    background-color: rgb(206, 202, 202);
    border-radius: 4px;
    margin: auto auto;
    width: 40%;
    height: 40vh;
    margin-top: 2rem;
}

.item4 {
    background-color: rgb(245, 196, 245);
    border-radius: 4px;
    margin: auto auto;
    width: 40%;
    height: 40vh;
    margin-top: 2rem;
}

.item5 {
    background-color: rgb(193, 216, 247);
    border-radius: 4px;
    margin: auto auto;
    width: 70%;
    height: 40vh;
    margin-top: 2rem;
}

.item5_img img {
    width: 5rem;
    height: 5rem;
    margin-left: 17rem;
}

.item1_img img {
    width: 8rem;
    height: 7rem;
    margin-top: 1.5rem;
    margin-left: 7rem;
    border-radius: 5px;
}

.item3_img img {
    width: 8rem;
    height: 7rem;
    margin-top: 2rem;
    margin-left: 7rem;
    border-radius: 5px;
}

.item4_img img {
    width: 8rem;
    height: 7rem;
    margin-top: 2rem;
    margin-left: 7rem;
    border-radius: 5px;
}

.item2_img img {
    width: 8rem;
    height: 7rem;
    margin-left: 7rem;
    border-radius: 5px;
}

.medican_footer h4 {
    text-align: center;
    color: violet;
    height: 35vh;
    margin-top: 2rem;
}